body {background-color: powderblue;}


.container{
    width:750px;
    height:750px;
    margin:40vh auto auto auto;
    
    
    
    
    
}


.box {
    width:300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    
    
    
    
    
}

.right{float:right;
    
    
}
