body {
    background-color: lightsteelblue;
}

.canvas {
    width: 950px;
    height: 800px;
    margin: 100px auto;
    background: white;
    position: relative;
    background-color: lightsteelblue;
}

.container {
    width: 950px;
    height: auto;
    margin: 40vh auto auto auto;
}

.box-1 {
    width: 100px;
    height: 200px;
    display: inline-block;
    background-color: steelblue;
    vertical-align: top;
    transition: top 2s ease;
    position: relative;
    top: 0px;
    text-align: center;
    font-family: DDT;
    font-size: 18px;
}

.box-1:hover {
    top: 200px;
}