.box-1{
	
	width:100px;
	height:200px;
	display: inline-block;
	border:1px solid black;
	vertical-align: top;
	transition: top 2s ease;
	position: relative;
	top: 0px;

}

.box-1:hover{
	top: 200px;

}