

body {
    background-color: powderblue;
}

.box1 {
    width: 300px;
    height: 1500px;
    text-align: center;
    padding: 10px;
    margin: 40vh auto auto auto;
    border: 5px dotted grey;
    position: relative;
}

.box2 {
    width: 300px;
    height: 1500px;
    text-align: center;
    padding: 10px;
    margin: 40vh auto auto auto;
    border: 5px dotted grey;
    position: relative;
}

a:visited {
    color: yellow;
}

a:hover {
    background-color: red;
}

p {
    color: grey;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 48px;
    text-transform: none;
    text-align: center;
    font-family: Helvetica;
}