body {background-color: powderblue;}


.container{
    width:750px;
    height:auto;
    margin:40vh auto auto auto;
    
    
    
    
    
}


.box {
    width:20%;
  
    display: inline-block;
    text-align: center;
    
    
    
    
    
}

.right{float:right;
    
    
}
