body {background-color: powderblue;}


.container{
    width:750px;
    height:750px;
    margin:40vh auto auto auto;
    
 }


.box {
	


      border-style: solid;
      display: inline-block;

    border-width: 1px;
    display: block;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

.right{float:right;
    
   }

.box:hover {
    background-color: #FFCCCC;
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

